html, body {
    min-height: inherit;
}

#options, #login, #error, #invalid, #edit-options, #archived, #deleted, #message {
    display: none;
    width: 350px;
}

#options {
    width: 400px;
}

#message, #edit-options {
    width: 100%;
    background: #f9f9f9;
    padding: 0px 20px 20px;
}

#deleted, #archived, #error {
    height: 200px;
}

#text-title, #text-url {
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#text-url {
    font-size: 12px;
    color: #777;
}

.button-margins {
    margin-top: -70px !important;
}

.button-margins-small {
    margin-top: -20px !important;
}

.center {
    margin: 0 auto;
    text-align: center;
}

button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    font-size: 11px;
}
button.delete {
    width: 49%;
    padding: 10px 0;
}
button.delete:nth-child(even) {
    float: right;
}
.mark-added .mark-added-actions {
    background: #f9f9f9;
    border-top: 1px solid #ededed;
    padding: 20px 20px 22px;
}
.mark-added .mark-added-actions button {
    padding: 11px 0;
    width: 100%;
}
.mark-added .mark-added-info {
    padding: 20px 20px 25px;
}
.mark-added .mark-added-info h1 {
    font-size: 18px;
    line-height: 25px;
    color: #111;
    margin: 0;
}
.button-margins {
    margin-top: -18px !important;
}
.mark-added .mark-added-block {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 16px 20px 38px;
}
.mark-added .mark-added-block i {
    margin-top: -3px;
    width: 20px;
    height: 20px;
    margin-right: -4px;
}
.mark-added#options .mark-added-block {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 16px 20px 20px;
}
.mark-added#options .mark-added-info h1 {
    font-size: 20px;
}
.mark-added#options .mark-added-info #text-url {
    margin-top: 8px;
}
.mark-added#options .mark-added-block i {
    margin-right: -3px;
}
.mark-added .mark-added-settings {
    border-top: 1px solid #ededed;
    padding: 20px;
    line-height: 19px;
}
.mark-added .mark-added-settings a {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-size: 11px;
    padding-left: 28px;    
}
.mark-added .mark-added-settings a:before {
    left: -1px;
}
.mark-added .mark-added-settings.mark-added-label section {
    top: 13px;
    left: 9px;
}
.mark-added .mark-added-settings #label-chosen {
    left: 250px;
    top: 20px;
    font-size: 11px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.mark-added .mark-added-settings section {
    top: 10px;
    opacity: 1;
    padding: 10px 20px;
    color: #303030;
    letter-spacing: normal;
}
.mark-added-label, .mark-added-note {
    background: #f9f9f9;
}
.mark-added .mark-added-note {
    border-bottom: none;
}

