#options, #login, #error, #invalid, #edit-options, #archived, #deleted, #message {
    display: none;
    width: 350px;
}

#message {
    width: 100%;
}

#options {
    width: 500px;
}

#options {
    margin: 5px;
}

#text-title, #text-url {
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#text-url {
    font-size: 12px;
    color: #777;
}